<!DOCTYPE html>
 <html>
   <head>
      <title>X Marks The Spot</title>

      <!--Style sheets-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="styles.css">  

      <!--Google Fonts-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

   <body>

      <header>
        <h3 class="logo">XMarksTheSpot</h2>
        <ul class="nav_links">
          <li><a href="index.html">Home</a></li>
          <li><a href="location.html">Add Location</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </header>


      <!--Search Bar-->

      <div class="wrap">
        <div class="search">
           <input id="search_bar" placeholder="Enter a location" type="text"/>
           <div class="close-btn">&times;</div>
        </div>
     </div>

      <!--The div element for the map -->
      <div id="map"></div>

      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNtsZQuoluir3fEw-mwXZpn-1pLQLPNUc&callback=initMap&libraries=&v=weekly"
        async
      ></script>

      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSfCU3uVlbkm5WDRXPEXwTjm9PUF2cgIw&libraries=places&callback=initMap"
        async>
    </script>

      <script src="app.js"></script>
    </body>
 </html>
