<!DOCTYPE html>
<html>
    <head>
        <title>Add Location</title>

        <!--Style sheets-->
        <link rel="stylesheet" href="styles.css"> 
       
       

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>


    <body>

        <header>
            <h3 class="logo">XMarksTheSpot</h2>
            <ul class="nav_links">
              <li><a href="index.html">Home</a></li>
              <li><a href="location.html">Add Location</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
        </header>
        
        <button id="modalBtn" class="button">Upload Location</button>


        <div id="locationModal" class="modal">
            <div class="modal-content">
              <span class="closeBtn">&times;</span>
              <form action="uploadimage">
                <input type="file" id="myFile" name="filename">
                <input type="submit">
              </form>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>